<ul class="comments">
  <%# @article.comments.reverse.each do |comment| %>
  <% @article.comments.each do |comment| %>
		<li class = "comment_box">
			<span class="gravatar">
				<img src="<%= comment.user.avatar_url %>" alt="<%= comment.user.nickname %>"></img>
			</span>
			<div class = "comment_author">
				<!-- <img src = "/images/images/arrow-r.png" /> -->
				<span class="admin"><%= link_to h(comment.user.nickname), (user_path comment.user) %></span> said:</span>
			</div>
			<div class = "comment_text">
				<p>
					<%= h(comment.body).gsub("\n","<br>") %>
				</p>

				<%=
				u = User.get_current_user session
				if u and (u.id == comment.user_id or u.priv == 10) then
					"<a href=\"/comments/destroy/" + comment.id.to_s + "\"> delete </a>"
				end
				%>
				
				<span class="date"><%= distance_of_time_in_words(Time.now, comment.created_at)%> ago</span>
			</div>
		</li>
  <% end %>
</ul>
