<%
   icon_name = []
   icon_name[0] = "Cybersec News"
   icon_name[1] = "Crack"
   icon_name[2] = "Hack"
   icon_name[3] = "Pentest"
   icon_name[4] = "Web Hacking"
   icon_name[5] = "Reverse Engineering"
   icon_name[6] = "Hacktivism"
   %>

<script language="javascript" type="text/javascript">
  function articon_change()
  {
    var item = document.getElementById('articon');
    var sel = document.getElementById('article_icon');
    document.getElementById('articon').src='/images/articon/' + sel.selectedIndex + '.png';
    
    if(item.value.length<3)
    {
      setTimeout(function() {
        item.focus()
      }, 10);
      return false;
    }
    return;
  }
</script>

<div id="submit_form">  
<% form_for(@article) do |f| %>
  <!-- <ul> -->
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  <p>
    <%= f.label "Select an Articon" %>
    <%= f.select(:icon, options_for_select(icon_name, :selected => icon_name[@article.icon || 0]), {}, {:onchange => 'articon_change()'})  %>
    <%# select_tag "article[icon]', %>
    <br>
    Articon: <br>
    <img src="/images/articon/<%= @article.icon || 0 %>.png" id="articon" catch="false"/><br>
  </p>
  <p>
    <%= f.label :title %>
    <%=h f.text_field :title %>
  </p>
  <p>
    <%= f.label :tag_list %>
    <%=h f.text_area :tag_list %>
  </p>
  <p>
    <%= f.label "Abstract (RSS description field)" %>
    <%=h f.text_area :abstract %>
  </p>
  <!--
  <p>
    <%#= f.label :body %>
    <%#=h f.text_area :body %>
  </p>
  -->
  <%= render :partial => 'articles/advbody' %>
  <p><br>
    <%= f.submit "Submit Strory" %>
  </p>
<% end %>

</div>
