<div id="contact_form">
  
<% form_for(@article) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  <p>
    <%= f.label :title %><br />
    <%=h f.text_field :title %>
  </p>
  <p>
    <%= f.label :tag_list %><br />
    <%=h f.text_field :tag_list %>
  </p>
  <p>
    <%= f.label :abstract %><br />
    <%=h f.text_area :abstract %>
  </p>
  <!--
  <p>
    <%#= f.label :body %><br />
    <%#=h f.text_area :body %>
  </p>
  -->
  <%= render :partial => 'articles/advbody' %>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>

</div>
