<%
   icon_name = {}
   icon_name[0] = "Cybersec News"
   icon_name[1] = "Crack"
   icon_name[2] = "Hack"
   icon_name[3] = "Pentest"
   icon_name[4] = "Web Hacking"
   icon_name[5] = "Reverse Engineering"
   icon_name[6] = "Hacktivism"

   buttons = [[]]

   buttons[0] = [icon_name[ @article.icon ], @article.icon.to_s]
   ni = 0
   icon_name.each do |icn|
     if ni != @article.icon then
        buttons[ buttons.length ] = [icon_name[ni], ni.to_s]
     end
     ni = ni + 1
   end
   @article.icon = @article.icon || 0
   %>

<div id="contact_form">
  
<% form_for(@article) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  <p>
    <%= f.label "Select a category" %>
    <%= f.select :icon, options_for_select(buttons)
    %>
  </p>
  <p>
    <%= f.label :title %>
    <%=h f.text_field :title %>
  </p>
  <p>
    <%= f.label :tag_list %>
    <%=h f.text_field :tag_list %>
  </p>
  <p>
    <%= f.label "Abstract (RSS description field)" %>
    <%=h f.text_area :abstract %>
  </p>
  <!--
  <p>
    <%#= f.label :body %>
    <%#=h f.text_area :body %>
  </p>
  -->
  <%= render :partial => 'articles/advbody' %>
  <p><br>
    <%= f.submit "Submit Strory" %>
  </p>
<% end %>

</div>
