<%
  links = [
    ["<Select one>", "#"],
    ["Date - Descending", "/articles/page/date/desc/1"],
    ["Date - Ascending", "/articles/page/date/asc/1"],
    ["Hits - Descending", "/articles/page/hits/desc/1"],
    ["Hits - Ascending", "/articles/page/hits/asc/1"],
    ["1337 - Descending", "/articles/page/leet/desc/1"],
    ["1337 - Ascending", "/articles/page/leet/asc/1"],
    ["lame - Descending", "/articles/page/lame/desc/1"],
    ["lame - Ascending", "/articles/page/lame/asc/1"]
  ]
%>

<div id="main">
  <h1>Cyberpunk Diary</h1>

  <p>
    Change sort order: <%= select_tag :sort_select, options_for_select( links ) %> (current: <%= @order + "/" + @dir %>)
  </p>
  <div class="rss">
    <a href="/rss/articles">Subscribe to [CPD] RSS Feed</a>
  </div>
  
  <script language="javascript" type="text/javascript">
    $('#sort_select').bind('change', function() { window.location.pathname = $(this).val() });
  </script>
  <hr>
  <%= render :partial => 'pagebar' %>
  <%= render :partial => 'articles/list_articles' %>
  <div class="cleaner"></div>
  <%= render :partial => 'pagebar' %>
</div>
