<h1>Diary</h1>

<ul id="articles" >
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
      <i>by <%= link_to article.user.nickname, user_path(article.user) %> </i>
      <p><%= article.abstract %></p>
      <p>Hits: <%= article.hits %></p>
      <br><i>up: <%= article.created_at %> | Comments(<%= article.comments.size %>)</i>
      <!-- <%#
         <%= link_to "Create a New Article" new_article_path %>
      %> -->
    </li>
    <hr>
  <% end %>
</ul>

