<%
  links = [[]]
  lables = []
  links[0] = ["test", link_to ('date/desc - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'date', :dir => 'desc'}) ]
  lables[0] = "test"
  # links[1] = link_to 'date/asc - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'date', :dir => 'asc'}
  # lables[1] = "Date - Ascending"
  # links[2] = link_to 'hits - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'hits', :dir => 'desc'}
  # lables[2] = "Date - Descending"
  # links[3] = link_to 'hits/a - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'hits', :dir => 'asc'}
  # lables[3] = "Date - Descending"
  # links[4] = link_to '1337 - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'leet', :dir => 'desc'}
  # lables[4] = "Date - Descending"
  # links[5] = link_to '1337/a - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'leet', :dir => 'asc'}
  # lables[5] = "Date - Descending"
  # links[6] = link_to 'lame', {:controller => 'articles', :action => 'index', :page => 1, :order => 'lame', :dir => 'desc'}
  # lables[6] = "Date - Descending"
  # links[7] = link_to 'lame/a',    {:controller => 'articles', :action => 'index', :page => 1, :order => 'lame',  :dir => 'asc'}
  # lables[7] = "Date - Descending"

  links = [
    ["<Change order>", "#"],
    ["Date - Descending", "/article/page/date/desc/1"],
    ["Date - Ascending", "/article/page/date/asc/1"],
    ["Hits - Descending", "/article/page/hits/desc/1"],
    ["Hits - Ascending", "/article/page/hits/asc/1"],
    ["1337 - Descending", "/article/page/leet/desc/1"],
    ["1337 - Ascending", "/article/page/leet/asc/1"],
    ["lame - Descending", "/article/page/lame/desc/1"],
    ["lame - Ascending", "/article/page/lame/asc/1"]
  ]
%>

<div id="templatemo_main">
  <h1>Diary</h1>

  <p>
    Sort by (current: <%= @order + "/" + @dir %>): <%= select_tag :sort_select, options_for_select( links ) %>
  </p>
  
  <script language="javascript" type="text/javascript">
    $('#sort_select').bind('change', function() { window.location.pathname = $(this).val() });
  </script>
  <hr>
  <%= render :partial => 'pagebar' %>
    <% i = 0 %>
    <% @articles.each do |article| %>
      <% if i % 3 == 2 then %>
        <div class="col one_third gallery_box no_margin_right">
      <% else %>
        <div class="col one_third gallery_box">
      <% end %>
          <a rel="lightbox[portfolio]" href=<%= '"' + article_path(article) + '"' %> ><img class="image_frame" alt=<%= '"' + article.title + '"'%> src=<%= "\"/images/articon/" + (article.icon || 0).to_s + ".jpg\"" %> ></a>
          <h5><%=h article.title %></h5>
          <div class="meta">
        <span class="admin"> <%= link_to h(article.user.nickname), (user_path article.user) %></span>
        <span class="comment"><%= article.comments.size %></span>
        <span class="date"><%= article.created_at %></span>
      </div>
      <div class="cleaner"></div>
          <%= render :partial => "articles/score" %>
        <% if article.abstract then %>
          <p><%=h article.abstract.gsub("\n", " ") %></p>
        <% end %>
      </div>
      <% i = i + 1 %>
    <% end %>
    <div class="cleaner"></div>
    <%= render :partial => 'pagebar' %>
</p>
</ul>
</div>
