<div id="templatemo_main">
  <h1>Diary</h1>

  <p> Order by <%= @order + ", " + @dir %> </p>
  <p>
    Change Order:
    <%= link_to 'date:desc - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'date', :dir => 'desc'} %>
    <%= link_to 'date:asc - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'date', :dir => 'asc'} %>
    <%= link_to 'hits - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'hits', :dir => 'desc'} %>
    <%#= link_to 'hits:a - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'hits', :dir => 'asc'} %>
    <%= link_to '1337 - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'leet', :dir => 'desc'} %>
    <%#= link_to '1337:a - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'leet', :dir => 'asc'} %>
    <%= link_to 'lame', {:controller => 'articles', :action => 'index', :page => 1, :order => 'lame', :dir => 'desc'} %>
    <%#= link_to 'lame:a',    {:controller => 'articles', :action => 'index', :page => 1, :order => 'lame',  :dir => 'asc'} %>
  </p>
  <hr>
  <%= render :partial => 'pagebar' %>
  <ul>
    <% @articles.each do |article| %>
    <li class = "article-list">
      <%= link_to h(article.title), article_path(article) %>
      <br><i>by <%= link_to h(article.user.nickname), user_path(article.user) %> </i>
      <br>
      <% if article.abstract then %>
      <p class = "abstract"><%=h article.abstract %></p>
      <% end %>
      <br>
      <p class="rate">
        <%= "Hits(" + article.hits.to_s + ") 1337(" + article.leet.to_s + ") lame(" + article.lame.to_s + ")"%>
      </p>
      <p class = "info">up: <%= article.created_at %> | Comments(<%= article.comments.size %>)</p>
      <!-- <%#
           <%= link_to "Create a New Article" new_article_path %>
           %> -->
      <hr>
    </li>
    <% end %>
    <%= render :partial => 'pagebar' %>
</p>
</ul>
</div>
