<div id="templatemo_main">
  <h1>Diary</h1>

  <p> Order by <%= @order + ", " + @dir %> </p>
  <p>
    Change Order:
    <%= link_to 'date:desc - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'date', :dir => 'desc'} %>
    <%= link_to 'date:asc - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'date', :dir => 'asc'} %>
    <%= link_to 'hits - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'hits', :dir => 'desc'} %>
    <%#= link_to 'hits:a - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'hits', :dir => 'asc'} %>
    <%= link_to '1337 - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'leet', :dir => 'desc'} %>
    <%#= link_to '1337:a - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'leet', :dir => 'asc'} %>
    <%= link_to 'lame', {:controller => 'articles', :action => 'index', :page => 1, :order => 'lame', :dir => 'desc'} %>
    <%#= link_to 'lame:a',    {:controller => 'articles', :action => 'index', :page => 1, :order => 'lame',  :dir => 'asc'} %>
  </p>
  <hr>
  <%= render :partial => 'pagebar' %>
    <% i = 0 %>
    <% @articles.each do |article| %>
      <% if i % 3 == 2 then %>
        <div class="col one_third gallery_box no_margin_right">
      <% else %>
        <div class="col one_third gallery_box">
      <% end %>
          <a rel="lightbox[portfolio]" href=<%= '"' + article_path(article) + '"' %> ><img class="image_frame" alt=<%= '"' + article.title + '"'%> src="/images/images/portfolio/06.jpg"></a>
          <h5><%=h article.title %></h5>
          <div class="meta">
        <span class="admin"> <%= link_to h(article.user.nickname), (user_path article.user) %></span>
        <span class="comment"><%= article.comments.size %></span>
        <span class="date"><%= article.created_at %></span>
      </div>
      <div class="cleaner"></div>
          <% render :partial => score %>
        <% if article.abstract then %>
          <p><%=h article.abstract.gsub("\n", " ") %></p>
        <% end %>
      </div>
      <% i = i + 1 %>
    <% end %>
    <div class="cleaner"></div>
    <%= render :partial => 'pagebar' %>
</p>
</ul>
</div>
