<%
  links = [
    ["<Change order>", "#"],
    ["Date - Descending", "/article/page/date/desc/1"],
    ["Date - Ascending", "/article/page/date/asc/1"],
    ["Hits - Descending", "/article/page/hits/desc/1"],
    ["Hits - Ascending", "/article/page/hits/asc/1"],
    ["1337 - Descending", "/article/page/leet/desc/1"],
    ["1337 - Ascending", "/article/page/leet/asc/1"],
    ["lame - Descending", "/article/page/lame/desc/1"],
    ["lame - Ascending", "/article/page/lame/asc/1"]
  ]
%>

<div id="templatemo_main">
  <h1>Diary</h1>

  <p>
    Sort by (current: <%= @order + "/" + @dir %>): <%= select_tag :sort_select, options_for_select( links ) %>
  </p>
  
  <script language="javascript" type="text/javascript">
    $('#sort_select').bind('change', function() { window.location.pathname = $(this).val() });
  </script>
  <hr>
  <%= render :partial => 'pagebar' %>
  <%= render :partial => 'articles/list_articles' %>
  <div class="cleaner"></div>
  <%= render :partial => 'pagebar' %>
</div>
