<h1>Diary</h1>

<p> Current Order: <%= @order + "/" + @dir %> </p>
<p>
  [
  <%= link_to 'date:D - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'date', :dir => 'desc'} %>
  <%= link_to 'date:A - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'date', :dir => 'asc'} %>
  <%= link_to 'hits:D - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'hits', :dir => 'desc'} %>
  <%= link_to 'hits:A - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'hits', :dir => 'asc'} %>
  <%= link_to '1337:D - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'leet', :dir => 'desc'} %>
  <%= link_to '1337/A - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'leet', :dir => 'asc'} %>
  <%= link_to 'lame:D - ', {:controller => 'articles', :action => 'index', :page => 1, :order => 'lame', :dir => 'desc'} %>
  <%= link_to 'lame:A',    {:controller => 'articles', :action => 'index', :page => 1, :order => 'lame',  :dir => 'asc'} %>
  ]
</p>
<hr>
<ul>
  <% @articles.each do |article| %>
    <li class = "article-list">
      <%= link_to h(article.title), article_path(article) %>
      <br><i>by <%= link_to h(article.user.nickname), user_path(article.user) %> </i>
      <br>
      <% if article.abstract then %>
         <p class = "abstract"><%=h article.abstract %></p>
      <% end %>
      <br>
      <p class="rate">
        <%= "Hits(" + article.hits.to_s + ") 1337(" + article.leet.to_s + ") lame(" + article.lame.to_s + ")"%>
      </p>
      <p class = "info">up: <%= article.created_at %> | Comments(<%= article.comments.size %>)</p>
      <!-- <%#
         <%= link_to "Create a New Article" new_article_path %>
      %> -->
      <hr>
    </li>
  <% end %>
  <p>
    Page: <%= @page %> of <%= @n_page %>
    <%=
       if @page != 1 then
         link_to 'first',  {:controller => 'articles', :action => 'index', :page => 1, :order => @order, :dir => @dir}
       end
    %>
    <%=
       if @page - 1 > 1 then
         link_to 'prev',  {:controller => 'articles', :action => 'index', :page => @page - 1, :page => 1, :order => @order, :dir => @dir}
       end
    %>
    <%=
       if @page + 1 < @n_page then
         link_to 'next',  {:controller => 'articles', :action => 'index', :page => @page + 1, :page => 1, :order => @order, :dir => @dir}
       end
    %>
    <%=
       if @page != @n_page then
         link_to 'last',  {:controller => 'articles', :action => 'index', :page => @n_page, :page => 1, :order => @order, :dir => @dir}
       end
    %>
  </p>
</ul>

