<div id="templatemo_main">
  <div id="content">
    <div class="post">

      <% @user = User.get_current_user session %>
      <% u = @user %>

      <h1><%= @article.title %></h1>

      <p><%
           if u and (u.id == @article.user_id || u.priv == 10) then
           %>
        <%= button_to "Edit", {:controller => 'articles', :action => 'edit', :id => @article.id}, :class => "submit_btn float_l" %>
        <%= button_to "Delete", @article, :confirm => 'Are you sure?', :method => :delete, :class => "submit_btn float_r"%>
        <% end %>

      <% if @article.abstract and @article.abstract.length > 0 then %>
      </p>
      <br><br><hr>
      
      <div class="meta">
        <span class="admin"> <%= link_to h(@article.user.nickname), (user_path @article.user) %></span>
        <span class="date"><%= @article.created_at %></span>
        <span class="tag">
          <% @article.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag) %>
          <% end %>
        </span>
        <span class="comment">comments:<%= @article.comments.size %></span>
      </div>
      <div class="cleaner"></div>

      <%= render :partial => 'score' %>
      <%= render :partial => 'rate' %>

      <h2>Abstract</h2>
      <p class = "abstract"><%=h @article.abstract %></p>
      <% end %>
      <br>

      <h2>Full Story</h2>
      <div class="sotry">
        <%#= h(@article.body).gsub("\n","<br>") %>
        <%#= sanitize( @article.body ) %>
        <%= render :partial => 'articles/advbody_readonly' %>
      </div>
        <%= render :partial => 'rate' %>

    </div> <!-- post -->
    <% if User.is_authorized session then %>
    <%= render :partial => 'comments/form' %>
    <% end %>

    <br><br>
    <h3>Comments (<%= @article.comments.size %>)</h3>
    <hr>

    <%= render :partial => 'articles/comment' %>

  </div> <!-- content -->
</div> <!-- main -->
