<div id="main">
  <!-- <div id="content"> -->
	<% @user = User.get_current_user session %>
	<% u = @user %>

	<h1><%=h @article.title %></h1>
	<%= render :partial => 'rate' %>
	<br><br>
	
	<% if @article.abstract and @article.abstract.length > 0 then %>
	<hr>
    <%= render :partial => 'articles/meta' %>
	<div class="cleaner"></div>

	<div class="post">
	  <%= render :partial => 'score' %>
	  
	  <h2>Abstract</h2>
	  <p class = "abstract"><%=h @article.abstract %></p>
	  <% end %>

      <br>
      
	  <h2>Full Story</h2>
	  <%#= h(@article.body).gsub("\n","<br>") %>
	  <%#= sanitize( @article.body ) %>

      <%= render :partial => 'articles/advbody_readonly' %>

      <p><%
		    if u and (u.id == @article.user_id || u.priv == 10) then
		    %>
		<%= button_to "Delete", @article, :confirm => 'Are you sure?', :method => :delete, :class => "submit_btn float_r"%>
		<%= button_to "Edit", {:controller => 'articles', :action => 'edit', :id => @article.id}, :class => "submit_btn float_r" %>
		<% end %>
	  </p>
	  <%= render :partial => 'rate' %>
	</div> <!-- post -->
	<hr>
	
	<div id="comment_section">
	  <%= render :partial => 'comments/form' %>
	  <div class="rss">
	    <%= '<a href="/rss/article/' + @article.id.to_s + '">' %>Follow comments of this article</a>
      </div>
	  <%= render :partial => 'comments/list' %>
	</div>
  <!-- </div> <!-- content -->

  <%#= render :partial => 'layouts/sidebar' %>
</div> <!-- main -->
