<% u = User.get_current_user session %>

<h1><%= @article.title %></h1>
<%
   if u then
%>
  <%= button_to "1337 (" + @article.leet.to_s + ")", {:controller => 'votes', :action => 'edit', :score => '1337', :article_id => @article.id}%>
  <%= button_to "lame (" + @article.lame.to_s + ")", {:controller => 'votes', :action => 'edit', :score => 'lame', :article_id => @article.id}%>
<% end %>
</p>

<hr>

<p>
<%
   if u and u.id == @article.user_id then
%>
  <%= button_to "Edit", {:controller => 'articles', :action => 'edit', :id => @article.id}%>
  <%= button_to "Delete", @article,
    :confirm => 'Are you sure?', :method => :delete %>
<% end %>
</p>

<hr>

<h2>Author <%= User.find(@article.user_id).nickname %></h2>
<p><%= @article.created_at %> </p>
<p><i>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</i></p>
<% if @article.abstract and @article.abstract.length > 0 then %>
  <h2>Abstract</h2>
  <p><%= @article.abstract %></p>
<% end %>
<br>

<h2>Full Story</h2>
<p><%= @article.body %></p>
<hr>

<%
   if u then
%>
  <%= button_to "1337 (" + @article.leet.to_s + ")", {:controller => 'votes', :action => 'edit', :score => '1337', :article_id => @article.id}%>
  <%= button_to "lame (" + @article.leet.to_s + ")", {:controller => 'votes', :action => 'edit', :score => 'lame', :article_id => @article.id}%>
<% end %>
</p>

<hr>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render :partial => 'articles/comment', :collection => @article.comments %>
<hr>
<% if User.is_authorized session then %>
  <%= render :partial => 'comments/form' %>
<% end %>
