<% form_for(@user) do |f| %>
  <ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  <p>
    <%= f.label "username (*)"%><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label "nickname (*)" %><br />
    <%= f.text_field :nickname %>
  </p>
  <p>
    <% if @user.password.nil? then %>
      <%= f.label "password (*)" %><br />
    <% else %>
      <%= f.label "password (*) (If you don't want to change your password, leave this textbox unchainged)" %><br />
    <% end %>
    <%= f.password_field :password %>
  </p>
  <p>
    <p>Email (optional) - will be used to load avatar of your [CPD] profile, using <a href="http://gravatar.com">Gravatar</a>.</p>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label "Recovery Question (optional)" %><br />
    <%= f.text_field :recov_qst %>
  </p>
  <p>
    <% if @user.recov_ans.nil? then %>
      <%= f.label "Recovery Answer (optional)" %><br />
    <% else %>
      <%= f.label "Recovery Answer (*) (If you don't want to change your recovery answer, leave this textbox unchainged)" %><br />
    <% end %>    
    <%= f.text_field :recov_ans %>
  </p>
  <%= render :partial => 'captcha/form' %>
  <p>
    <%= f.submit 'wanna be a C-PUNK!'%>
  </p>
<% end %>
