<% form_for(@user) do |f| %>
  <ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  <p>
    <%= f.label "username (*)"%><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label "nickname (*)" %><br />
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.label "password (*)" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <p>Email (optional) - will be used for <a href="http://gravatar.com">Gravatar</a></p>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label "Recovery Question (optional)" %><br />
    <%= f.text_field :recov_qst %>
  </p>
  <p>
    <%= f.label "Recovery Answer (optional)" %><br />
    <%= f.text_field :recov_ans %>
  </p>
  <%= render :partial => 'captcha/form' %>
  <p>
    <%= f.submit 'wanna be a C-PUNK!'%>
  </p>
<% end %>
