<% u = User.get_current_user session %>

<div id="main">
  <!-- <div id = "content" > -->
    <h1>#whoami</h1>
    <% if u and (u.id == @user.id || u.priv == 10) then %>
      <%= button_to "Edit", {:controller => 'users', :action => 'edit', :id => @user.id}, :class => "submit_btn float_l" %><br><br>
    <% end %>
    <p>
    <img src="<%= @user.avatar_url(200) %>" alt="<%= @user.nickname %>"></img> <br>
    </p>
    <h2><%=h @user.nickname %></h2>
    <p>#login: <%=h @user.username %> </p>
    <p>#whereis: <%=h @user.email %> </p>
    <p>#joined-at: <%=h @user.created_at %> </p>
    <br>
    <p>
		<%= '<a href="/rss/user/' + @user.id.to_s + '">' %>
		<%= image_tag ("images/feed.png", :alt => "Comments RSS", :title => "Comments RSS") %>Follow #<%= @user.nickname %></a><br>
      </p>
    <h2> Articles </h2>
    <%= render :partial => 'users/pagebar' %>
    <p>
      <%= render :partial => 'articles/list_articles' %>
    </p>
    <div class="cleaner"></div>
    <%= render (:partial => 'users/pagebar') if @total > 0 %>
  <!-- </div> -->
  <%#= render :partial => 'layouts/sidebar' %>
</div>
