<div id="main">
  <!-- <div id = "content" > -->
    <h1>#whoami</h1>
    <h2><%=h @user.nickname %></h2>
    <p>#login: <%=h @user.username %> </p>
    <p>#whereis: <%=h @user.email %> </p>
    <p>#joined-at: <%=h @user.created_at %> </p>
    <br>
    <p>
		<%= '<a href="/rss/user/' + @user.id.to_s + '">' %>
		<%= image_tag ("images/feed.png", :alt => "Comments RSS", :title => "Comments RSS") %>Follow #<%= @user.nickname %></a>
      </p>
    <h2> Articles </h2>
    <%= render :partial => 'users/pagebar' %>
    <p>
      <%= render :partial => 'articles/list_articles' %>
    </p>
    <div class="cleaner"></div>
    <%= render (:partial => 'users/pagebar') if @total > 0 %>
  <!-- </div> -->
  <%#= render :partial => 'layouts/sidebar' %>
</div>
