<% u = User.get_current_user session %>

<div id="main">
  <!-- <div id = "content" > -->
    
  <h1>#whoami</h1>
  <% if u and (u.id == @user.id || u.priv == 10) then %>
    <%= button_to "Edit", {:controller => 'users', :action => 'edit', :id => @user.id}, :class => "submit_btn float_l" %>
    <%= button_to "Delete", {:controller => 'users', :action => 'destroy', :id => @user.id}, :confirm => 'By deleting your profile, all your comments and articles will be transfered to #punkbot, Are you sure?', :class => "submit_btn float_l"%>
    <br><br>
  <% end %>
  
  <div class="profile">
    
    <img id="profimg" src="<%= @user.avatar_url(200) %>" alt="<%= @user.nickname %>"> <br>
    
    <div id="content">
      <h2><%=h @user.nickname %></h2>
      <div class="list">
        <li>#joined-at: <%=h @user.created_at.strftime("%a, %d %b %Y") %> </li>
        <li>#whereis: <%=h @user.email %> </li>
      </div>

      <div class="meta">
        <p class="leet">TOTAL LEET: <%= @total_leet %></p>
        <p class="lame">TOTAL LAME: <%= @total_lame %></p>
        <p class="hit">TOTAL HITS: <%= @total_hits %></p>
      </div>
      
      <div class="rss">
        <%= '<a href="/rss/user/' + @user.id.to_s + '">' %>Follow #<%= @user.nickname %></a>
      </div>
      
    </div>
  </div>
  
  <br>
  
  <h2> Articles </h2>
  <%= render :partial => 'users/pagebar' %>
  <%= render :partial => 'articles/list' %>
  
  <div class="cleaner"></div>
  <%= render (:partial => 'users/pagebar') if @total > 0 %>
  <%#= render :partial => 'layouts/sidebar' %>
</div>
