<div id="main">
<h1>Tag: <%=h @tag.name %></h1>
<p>
<div class="rss">
  <%= '<a href="/rss/tag/' + @tag.id.to_s + '">' %>Follow updates on #<%=h @tag.name %></a>
</div>
</p>
<%= render :partial => 'tags/pagebar' %>
<%= render :partial => 'articles/list' %>
<div class="cleaner"></div>
<%= render :partial => 'tags/pagebar' %>
</div>
