<% u = User.get_current_user session %>
<%
   # Update total hits
   
   ti = Info.first
   if ti then
     thits = ti.total_hits
     ti.total_hits = thits + 1
     ti.save
   end
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[CPD]</title>
<meta name="keywords" content="dark pro, theme, free templates, templatemo, website templates, CSS, HTML" />
<meta name="description" content="Dark Pro Theme, free CSS template provided by templatemo.com" />
<%= stylesheet_link_tag "css/templatemo_style" %>

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

<%= javascript_include_tag "js/jquery.min" %>

<%= stylesheet_link_tag "css/ddsmoothmenu" %>
<%= javascript_include_tag "js/ddsmoothmenu" %>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>

<%= stylesheet_link_tag "css/style1.css" %>

<%= javascript_include_tag "js/jquery" %>
<%= javascript_include_tag "js/jquery.easing" %>
<%= javascript_include_tag "js/script" %>
 
</head>
<body>
  <flash><%=h flash[:notice] %></flash>
  <% if flash[:error] then %>
  <flash><error><%=h flash[:error] %></error></flash>
  <% end %>
  
  <div id="wrapper">

    <div id="header">
      <div id="rss_btn">
		<a href="/rss/articles"><%= image_tag ("images/feed.png", :alt => "RSS", :title => "RSS") %></a>
      </div>
      <div id="site_title">
        <h1> <a href="http://cyberpunkdiary.org">Cyberpunk Diary [CPD]</a> </h1></div>
        <!-- 
        <div id="search">
        <a href="#"><%= image_tag ("images/feed.png", :alt => "RSS", :title => "RSS") %></a>
          <form method="get" action="#">
            <input type="text" class="txt_field" onblur="clearText(this)" onfocus="clearText(this)" title="keyword" id="keyword" name="keyword" value="Search [TODO]">
            <input type="submit" class="sub_btn" title="Search" id="searchbutton" alt="Search" value="" name="Search">
          </form>
        </div>
        -->
      <div class="cleaner"></div>
    </div>

    <div class="ddsmoothmenu" id="menu">
      <ul>
        <% if u then %>
          <li style="z-index: 99;"><a href="#" class="">#<%= u.nickname %> &#x25BD;<span>sudo su -</span></a>
          <ul style="top: 62px; visibility: visible; left: 0px; width: 170px; display: none;">
            <li><a href="/articles/new">Submit a New Story</a></li>
            <li><%= link_to 'Profile', user_path(u) %></li>
            <li><%= link_to 'Logout', {:controller => 'users', :action => 'logout', :id => u.id} %></li>
          </ul>
	    </li>
        <% end %>
        <li><a class="selected" href="/">Home<span>back to the bay</span></a></li>
        <li style="z-index: 99;"><a href="/articles" class="">Diary<span>Yo. Wazzup, punk?</span></a>
	    </li>
        <li><a class="selected" href="/tags">Tags <span>view list of tags</span></a></li>
        <% if !u then %>
          <li><a class="selected" href="/users/register">Register<span>be a cyberpunk</span></a></li>
          <li><a class="selected" href="/users/login">Login<span>go black!</span></a></li>
        <% end %>
        <li style="z-index: 100;"><a href="#" class="">About [CPD] &#x25BD;<span>#whoami</span></a>
          <ul style="display: none; top: 62px; visibility: visible;">
            <li><a href="/mypage/whoami">About</a></li>
            <li><a href="/mypage/dev">Dev. and API</a></li>
            <li><a href="/mypage/bugs">[BUG] Report</a></li>
          </ul>
        </li>
      </ul>
      <br style="clear: left" />
    </div>
    
    <div class="headbar">
  	  <%= image_tag ("headbar/default.png", :alt => "TEST", :title => "TEST") %>
    </div>
    
    <%= yield %>

    <div class="cleaner"></div>
  </div>
<!--
  <div id="footer_wrapper">
	<div id="footer">  
      <div class="col footer_one_third">
        <h4>Flickr</h4>
        <ul class="flickr_stream">
          <li><a href="#"><%= image_tag ("images/01.png", :alt => "Flickr 01") %></a></li>
          <li><a href="#"><%= image_tag ("images/02.png", :alt => "Flickr 02") %></a></li>
          <li class="no_margin_right"><a href="#"><%= image_tag ("images/03.png", :alt => "Flickr 03") %></a></li>
        </ul>  
      </div>
  
      <div class="col footer_one_third">
        <h4>Twitter</h4>
        <ul class="twitter_post">
	      <li>Test twitter: blah blah blah.... blah blah blah! <a href="#">http://twitter.com</a></li>
		</ul>
      </div>
      <div class="col footer_one_third no_margin_right">
      
	  <div>
        <b>Follow </b><a href="#">[cpd]</a>
		<div class="cleaner"></div>
        <div class="footer_social_button">
          <a href="#"><%= image_tag ("images/facebook.png", :alt => "Facebook", :title => "Facebook") %></a>
          <a href="#"><%= image_tag ("images/flickr.png", :alt => "Flickr", :title => "Flickr") %></a>
          <a href="#"><%= image_tag ("images/twitter.png", :alt => "Twitter", :title => "Tw
itter") %></a>
          <a href="#"><%= image_tag ("images/youtube.png", :alt => "Youtube", :title => "Youtube") %></a>
          <a href="#"><%= image_tag ("images/feed.png", :alt => "RSS", :title => "RSS") %></a>
		</div>
      </div>
    </div> 
    --> 
    <!-- END of footer -->
   </div>
</body>
</html>

