<% u = User.get_current_user session %>
<%
   # Update total hits
   
   ti = Info.first
   if ti then
     thits = ti.total_hits
     ti.total_hits = thits + 1
     ti.save
   end
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title><%= @page_title || '[CPD]' %></title>
        <%= stylesheet_link_tag "style" %>
    </head>
    <body>
      <panel>
        <profile>
          <% if User.is_authorized session then
             %>
            <%= link_to 'Profile (' + h(u.nickname) + ')', '/users/' + u.id.to_s %>
          <% end %>
          <br><hr>
          Total Hits: <%= thits %>
        </profile>
      </panel>
      <header>
        <div class = "nav ph-dot-nav">
          <a href="/">Index</a>
          <a href=<%=articles_path%>>Diary</a>
          <% if User.is_authorized session then %>
            <a href="/articles/new">New</a>
          <% end %>
          <a href=<%=tags_path%>>Tags</a>
          <a href="/mypage/whoami">About [CPD]</a>
          <a href="/mypage/bugs">Bug Report</a>
          <% if User.is_authorized session then %>
          <%= link_to "Logout" , "/users/logout", :confirm => 'Are you sure?', :method => :logout %>
          <% else %>
          <a href="/users/login"> Login </a>
          <a href="/users/register"> Register </a>
          <% end %>
          <div class="effect"></div>
        </div>
      </header>
      <flash><%=h flash[:notice] %></flash>
      <% if flash[:error] then %>
      <flash><error><%=h flash[:error] %></error></flash>
      <% end %>
      <%= "<h1>#{@page_title}</h1>" if @page_title %>
        <%= yield %>
    </body>
</html>

