<% @u = User.get_current_user session %>
<%
   # Update total hits
   
   ti = Info.first
   if ti then
     thits = ti.total_hits
     ti.total_hits = thits + 1
     ti.save
   end
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[CPD]</title>
<meta name="keywords" content="[CPD], Cyberpunk, diary, hack, crack, article, news, hacktivism, infosec, 1337, lame" />
<meta name="description" content="[CPD]: Cyberpunk Diary, share your hacks!" />
<%= stylesheet_link_tag "css/cpd_style" %>

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

<%= javascript_include_tag "js/jquery.min" %>

<%= stylesheet_link_tag "css/ddsmoothmenu" %>
<%= javascript_include_tag "js/ddsmoothmenu" %>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>

<%= stylesheet_link_tag "css/style1.css" %>

<%= javascript_include_tag "js/jquery" %>
<%= javascript_include_tag "js/jquery.easing" %>
<%= javascript_include_tag "js/script" %>
 
</head>
<body>
  <flash><%=h flash[:notice] %></flash>
  <% if flash[:error] then %>
  <flash><error><%=h flash[:error] %></error></flash>
  <% end %>
  
  <div id="wrapper">
    <%= render :partial => 'layouts/header'%>
    <%= render :partial => 'layouts/menu' %>
    <%#= render :partial => 'layouts/ads' %>
    
    <%= yield %>

    <div class="cleaner"></div>
    
    <%#= render :partial => 'layouts/footer' %>
   </div>
</body>
</html>

