<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title><%= @page_title || 'Blogger' %></title>
        <%= stylesheet_link_tag "style" %>
    </head>
    <body>
      <header>
        <div class = "nav ph-dot-nav">
          <a href="#">Index</a>
          <a href=<%=articles_path%>>Articles</a>
          <a href=<%=tags_path%>>Tags</a>
          <div class="effect"></div>
        </div>
        <profile>
          <% if User.is_authorized( session[:session_id] ) then %>
            <%= link_to "Logout", "/users/logout", :confirm => 'Are you sure?', :method => :logout %>
          <% else %>
            <a href="/users/login"> Login </a>
            <a href="/users/register"> Register </a>
          <% end %>
        </profile>
      </header>
      <p class='flash'><%= flash[:notice] %></p>
      <p class='flash'><%= flash[:error] %></p>
        <%= "<h1>#{@page_title}</h1>" if @page_title %>
        <%= yield %>
    </body>
</html>

